/* Universal reset for all browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: rgb(45, 45, 45);
  height: 100vh;
}

.header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-content {
  box-shadow: 
  8px 8px 8px rgb(235, 225, 192);
}
/* Main button */
.modal-btn {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  background: linear-gradient(to right, rgb(144, 198, 237),#4287ee);
  cursor: pointer;
  padding: 5px;
  border-color: rgb(40, 133, 232);
  box-shadow: 4px 4px 6px rgb(132, 180, 222);
  animation: slide ease-in-out 1.5s forwards;
}

@keyframes slide {
  0% {
    opacity:0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    transform: translate(0)
  }
}

.modal-btn:hover {
  background: linear-gradient(to right, rgb(144, 177, 237),#4261ee);
  transform:scale(1.1);
}

.btn-text {
  font-size: 1.5rem;
  color: black;
}

.modal-heading-container {
  display: flex;
  align-items: center !important;
}

.modal-img {
  top:5px;
  left:10px;
  width:50px;
}

.modal-heading {
  font-weight: bold;
  font-size:1.4rem;
}

.form-label {
  font-weight: 700 !important;
}

.form-date-container {
  margin-top: 15px !important;
}